// Place all the styles related to the seitengeruest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn
{
	 width: 90%;
	 margin-bottom: 3px;	 
}

input#specialwishes
{
    margin-bottom: 0px;
}

input#searchpattern
{
	margin-bottom: 0px;
}

.table td
{
	vertical-align: middle;
}

form {
	margin: 0 0 5px;
}

th.price_column {
	width: 80px;
}

th.name_column {
	width: 150px;
}

th.number_column {
	width: 60px;
}

