// Place all the styles related to the seitengeruest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn.btn-success
{
	 width: 87.5%;
	 margin-bottom: 3px;	 
}

input.btn.btn-info
{
	width: 100%
}

input#specialwishes
 {
    margin-bottom: 0px;
 }

input#searchpattern
{
	margin-bottom: 0px;
}

.table td
{
	vertical-align: middle;
}